.card {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    animation-name: example;
    animation-duration: 0.75s;
}
@keyframes example {
    from {
        transform:translateX(-200%);
        opacity: 0;
    }
    to {
        transform:translateX(0);
        opacity: 1;
    }
}

.card:hover {
    transform: scale(1.05);
}

.discount {
    background-color: var(--highlight, #95E3E3);
    padding: 0 10px 0 10px;
    border-radius: 100px;
    color: #000000;
}

.color_text {
    color: var(--primary, #1A9C9C);
    font-weight: 600;
}
